*{
    font-size: 10px;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: black;
}
:root{
    --shadow-gray:#999999;
    --len2:2px;
}
@media screen and (max-width: 600px){
    *{
        font-size: 5px;
        margin: 0;
        padding: 0;
        color: black;
    }
    :root{
        --shadow-gray:#999999;
        --len2:0.7px;
    }
    .search-icon{
        height: 15px;
        width: 15px;
    }
}
@keyframes search{
    0%{
        width: calc(var(--len2)*300);
    }
    50%{
        width: calc(var(--len2)*100);
    }
    100%{
        width: calc(var(--len2)*300);
    }
}
@keyframes aniTitle {
  from{
    position: fixed;
    top: 40%;
    left :40%;
    font-size: 12em;
  }
  to{
    position: fixed;
    top: -2%;
    left: 2%;
    font-size: 4em;
  }
}
.header{
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    height: 10%;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    border-bottom:solid var(--len2) ;

}
#title{
    font-family: 'Bungee Shade', cursive;
    font-size: 4em;
    animation: aniTitle;
    animation-duration: 3s;
    animation-timing-function: ease;
    z-index: 2;
    cursor: pointer;
    transition-duration: 2s;
}
.option{
    font-family: 'Montserrat', sans-serif;
    text-decoration: solid;
    position: relative;
    left: calc(var(--len2)*400);
    display: flex;
    flex-direction: row;
}
.option > a{
    font-size: 1.5em;
    margin-left: calc(var(--len2)*10);
    padding: calc(var(--len2)*6);
    transition-duration: 0.3s;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.option > a:hover{
    background-color: var(--shadow-gray);
    color:white;
    animation-name: move;
}
/*.opt-drop{
    position: relative;
    z-index: 2;
    height: calc(var(--len2)*100);
    width: calc(var(--len2)*100);
    top:10%;
    left: calc(var(--len2)*550);
    border: solid black 2px;
}*/
body{
    background-color: white;
}
.side-bar{
    position: absolute;
    top: 12%;
    border: olid black 1px;
    height: calc(var(--len2)*500);
    left: 1%;
    width: 12%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#profile-pic{
    top:3%;
    height: calc(var(--len2)*70);
    width: calc(var(--len2)*70);
    border: solid black 1px;
    border-radius: 20%;
    margin-top: calc(var(--len2)*5);
    margin-bottom: calc(var(--len2)*10);
}
.side-bar > div {
    position: relative;
    margin: var(--len2);
}
.side-bar-text{
    font-family: 'Montserrat', sans-serif;
    font-size: calc(var(--len2)*7);
}
.tag-box{

    position: absolute;
    top:12%;
    left: 15%;
    border: solid var(--shadow-gray) 1px;
    border-width: 1px;
    height: auto;
    width: 75%;
    margin-bottom: calc(var(--len2)*200);
    box-shadow: 5px 5px 0px 0px var(--shadow-gray);
}
.search{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: calc(var(--len2)*6);
    height: calc(var(--len2)*25);
    width: 100%;
}
.search-box{
    position: relative;
    height: 100%;
    width: calc(var(--len2)*300);
    border-style: solid --shadow-gray;
    border-width: 1px;
    border-radius: 20px;
    margin-right: 2%;
    font-size: 2em;
    text-align: center;
    outline: none;
    animation-name: search;
    animation-duration: 1s;
    animation-iteration-count: 3;
    animation-play-state: paused;
}
.search-icon{
    position: relative;
    cursor: pointer;
}
.blog-list{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: hidden 1px;
    width: 100%;
    height: auto;
    margin-top: calc(var(--len2)*35);
}
a{
  text-decoration: none;
}
.blog-in-list{
    position: relative;

    display: flex;
    flex-direction: row;
    height: calc(var(--len2)*100);
    width: 90%;
    margin: 10px;

    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 1em;
}
.blog-in-list:hover{
    box-shadow: 0px 0px 10px 10px var(--shadow-gray);
}
.containts{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.bloger-data{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 45%;
    padding: 5px;
}
#holder-image{
    height: 100%;
    width: 20%;
}
#blog-title{
    font-size: 2.5em;
    padding: 2px;
    height: 40%;
    text-align: center;
    cursor: pointer;
}
#blog-title:hover{
    color: red;
}
#blog-prev{
    text-align: left;
    padding: calc(var(--len2)*5);
    font-size: 1.2em;

    height: 30%;
}
#blog-tags{
    text-align: left;

    height: 30%;
    font-size: 1.2em;
    padding: calc(var(--len2)*5);
}
#bloger-pic{
    height: 60%;
    width: 100%;
    align-content: center;
    cursor: pointer;
    border-radius: 50%;
}
#bloger-pic:hover{
    transition-duration: 100ms;
    transform: scale(1.1);
    border-radius: calc(var(--len2)*10);
}
#bloger-id{
    height: 15%;
    text-align: center;
    padding-top: calc(var(--len2)*7);
    cursor: pointer;
    bottom: auto;
}
#bloger-id:hover{
    transition-duration: 200ms;
    color: #F333FF;
    font-size: 1.5em;
}
#bloger-name{
    height: 15%;
    bottom: 0;
    font-size: 1.3em;
}
.page-no-block{
    display:flex;
    flex-direction:row;
    position:relative;
    align-items: center;
    justify-content: center;
}
.page-no{
  border: solid black 1px;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  text-align: center;
  padding: 5px;
  margin-top: calc(var(--len2)*15);
  margin: 10px;
  font-size: 1.3em;
}
