*{
    font-size: 10px;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

}
:root{
    --shadow-gray:#999999;
    --len2:2px;
}
@media screen and (max-width: 600px){
    *{
        font-size: 5px;
        margin: 0;
        padding: 0;
    }
    :root{
        --shadow-gray:#999999;
        --len2:0.7px;
    }
  }

.header{
    position: fixed;
    display: flex;
    align-items: center;
    background-color: white;
    top: 0;
    height: 10%;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    border-bottom:solid var(--len2) ;
    z-index: 2;
}
#title{
    font-family: 'Bungee Shade', cursive;
    font-size: 4em;
}
body{
    display: flex;
    flex-direction: column;
}
.image-block{
    position: relative;
    flex-direction: row;
    padding: 10%;
}